.item-6 {
    font-size: 15px;
    position: relative;
}

.item-6 .top{
    background: #16BA9D;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    z-index: 10;
    /*display: none;*/
}

.item-6 .foot{
    background: #16BA9D;
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    z-index: 10;
    /*display: none;*/
}
.item-6 h1{
    font-size: 30px;
    color: #c42b93;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 999;
}
.item-6 .word1{
     font-size: 20px;
     color: #fff;
     position: absolute;
     top: 140px;
    left: 0;
    right: 0;
     z-index: 999;
    -webkit-animation: p-fly 2s ease;
    animation: p-fly 2s ease;
 }
.item-6 .word2{
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 190px;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-animation: p-fly 2s ease;
    animation: p-fly 2s ease;
}
.item-6 .word3{
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
    z-index: 999;
    -webkit-animation: p-fly 2s ease;
    animation: p-fly 2s ease;
}
#iframe{
    position: absolute;
    top: 0;
    left: 0;
}





